!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // SEO Validation Tags
    meta(name='msvalidate.01', content='TODO: Fill me in!')
    meta(name='google-site-verification', content='TODO: Fill me in!')
    title Driftwood 0.0.1
    // Application styles
    link(rel='stylesheet', href='assets/css/libs/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='assets/css/libs/font-awesome/font-awesome.css')
    link(rel='stylesheet', href='assets/scripts/libs/colorpicker/css/colorpicker.css')
    link(rel='stylesheet', href='assets/css/main.css')
    // Site Web Fonts
  body
    // BEGIN: Main wrapper
    #Main
      // BEGIN: header
      header.header
      // END: header
      // BEGIN: Main container
      section.main(role='main')
        // Editor
        section.editor
          // Command Pallet
          .commands.btn-group.btn-group-vertical(data-toggle='buttons-radio')
            .btn-group.command.move-pan
              span.btn.menu-btn.active(data-cmd='selectCanvas')
                b.icon-hand-up
              ul.dropdown-menu
                li(data-cmd='selectCanvas')
                  a(href='#')
                    b.icon-hand-up
                    | Select
                li(data-cmd='moveCanvas')
                  a(href='#')
                    b.icon-move
                    | Move
            .btn-group.command.layer-commands
              span.btn.menu-btn(data-cmd='switchLayer', data-cmd-value='map_layer')
                b.icon-picture
              ul.dropdown-menu
                li(data-cmd='switchLayer', data-cmd-value='map_layer')
                  a(href='#')
                    b.icon-picture
                    | Map Layer
                li(data-cmd='switchLayer', data-cmd-value='grid_layer')
                  a(href='#')
                    b.icon-th
                    | Grid Layer
                li(data-cmd='switchLayer', data-cmd-value='object_layer')
                  a(href='#')
                    b.icon-pushpin
                    | Object Layer
                li(data-cmd='switchLayer', data-cmd-value='gm_layer')
                  a(href='#')
                    b.icon-user
                    | GM Layer
            .btn-group.command
              span.btn.menu-btn(data-cmd='draw', data-cmd-value='free')
                b.icon-pencil
              ul.dropdown-menu
                li(data-cmd='draw', data-cmd-value='free')
                  a(href='#')
                    b.icon-pencil
                    | Free Draw
                li(data-cmd='draw', data-cmd-value='rectangle')
                  a(href='#')
                    b.icon-sign-blank
                    | Rectangle
                li(data-cmd='draw', data-cmd-value='circle')
                  a(href='#')
                    b.icon-circle
                    | Circle
            .btn-group.command
              span.btn.menu-btn(data-cmd='zoomIn')
                b.icon-zoom-in
              ul.dropdown-menu
                li(data-cmd='zoomIn')
                  a(href='#')
                    b.icon-zoom-in
                    | Zoom In
                li(data-cmd='zoomOut')
                  a(href='#')
                    b.icon-zoom-out
                    | Zoom Out
          // Canvas
          .canvas-wrapper
            canvas#c
            // <canvas id="over"></canvas>
            //
              svg(width="100%", height="100%", xmlns="http://www.w3.org/2000/svg")
                defs
                  pattern(id="grid", width="80", height="80", patternUnits="userSpaceOnUse")
                    path(d="M 80 0 L 0 0 0 80", class="grid-path", fill="none", stroke="gray", stroke-width="1")
                      defs
                        rect(width="100%", height="100%", fill="url(#grid)")
            .overlay
        // Side Panel
        aside.panel
          .nav
            ol.unstyled.inline(data-tabs='tabs', data-tab-panels='.chat,.objects,.settings')
              li(data-toggle='tab', data-target='.chat')
                b.icon-comment
                | Chat
              li(data-toggle='tab', data-target='.objects')
                b.icon-pushpin
                | Objects
              li(data-toggle='tab', data-target='.settings')
                b.icon-cog
                | Settings
          // Chat
          #chat.chat
            .content
              .message-wrapper
                .messages(data-spy='scroll')
                  .message
                    .username Ryan
                    .text This is a message.
                  .message
                    .username Ryan
                    .text This is a message.
                  .message
                    .username Ryan
                    .text This is a message.
                  .message
                    .username Ryan
                    .text This is a message.
                  .message
                    .username Ryan
                    .text This is a message.
                  .message
                    .username Ryan
                    .text This is a message.
                  .message
                    .username Ryan
                    .text This is a message.
                  .message
                    .username Ryan
                    .text This is a message.
                  .message
                    .username Ryan
                    .text This is a message.
                  .message
                    .username Ryan
                    .text
                      | This is a message.
                      br
                      br
                      br
                      | asdfasdfafds fasd fasdf ads fasdf
                  .message
                    .username Ryan
                    .text This is a message.
                  .message
                    .username Ryan
                    .text This is a message.
                  .message
                    .username Ryan
                    .text This is a message.
                  .message
                    .username Ryan
                    .text This is a message.
              .input
                .textarea
                  textarea.input-block-level(rows='1', data-activate='elastic', data-on='load', placeholder='Chat away...')
          // Objects
          #objects.objects
            .content
              .tr.tr-flow
                .search
                  div
                    input#search-object.input-block-level.input(type='text', placeholder='Search...', data-activate='focus', data-on='focusin,focusout', data-target='.objects .search')
                    b.icon-remove-sign.clear(data-clear='#search-object')
                  label(for='search-object')
                    b.icon-search
                  .target
                    .dropdown
                      .dropdown-toggle(data-toggle='dropdown', href='#')
                        span.text All
                        b.icon-caret-down
                      // Link or button to toggle dropdown
                      ul.dropdown-menu.pull-right(role='menu', aria-labelledby='dLabel')
                        li
                          a(tabindex='-1', href='#', data-activate='replace', data-target='.search .text', data-on='click') All
                        li
                          a(tabindex='-1', href='#', data-activate='replace', data-target='.search .text', data-on='click') My Library
                        li
                          a(tabindex='-1', href='#', data-activate='replace', data-target='.search .text', data-on='click') Token
                        li
                          a(tabindex='-1', href='#', data-activate='replace', data-target='.search .text', data-on='click') Map
                        li
                          a(tabindex='-1', href='#', data-activate='replace', data-target='.search .text', data-on='click') Item
              .tr.object-list
                ol.unstyled
                  li.object
                    .preview
                    p.name Name of Item
                    p.muted Token
                    p.tmp
                      input.input-block-level(type='text', placeholder='http://')
                    .dropdown.menu
                      .dropdown-toggle(data-toggle='dropdown', href='#')
                        b.icon-caret-down
                      // Link or button to toggle dropdown
                      ul.dropdown-menu.pull-right(role='menu', aria-labelledby='dLabel')
                        li
                          a(tabindex='-1', href='#') Delete
              .tr
                .upload
                  .btn-group
                    button.btn.btn-primary.upload-type Upload Token
                    button.btn.btn-primary.dropdown-toggle(data-toggle='dropdown')
                      span.caret
                    ul.dropdown-menu.pull-left
                      li
                        a(tabindex='-1', href='#', data-activate='replace', data-target='.upload-type', value='Upload Token', data-on='click') Token
                      li
                        a(tabindex='-1', href='#', data-activate='replace', data-target='.upload-type', value='Upload Map', data-on='click') Map
                      li
                        a(tabindex='-1', href='#', data-activate='replace', data-target='.upload-type', value='Upload Item', data-on='click') Item
          // Settings
          .settings
            .content
              .tr
                .control-pane.form-horizontal
                  h2 Editor
                  .control-group
                    label.control-label Background Color:
                    .controls
                      input.span1.editor-color(type='color', value='#EAEAEA')
                  //
                        .control-group
                          label(class="control-label") Grid Color:
                          .controls
                            input.span.grid-color(type="color", value="#b5b5b5")
                                  
              .tr
                .actions
                  input.btn.btn-success.input-block-level(type='button', value='Save')
                  input.btn.input-block-level(type='button', value='Cancel')
      // END: main container
      // BEGIN: footer
      footer.footer
      // END: footer
      #scripts
        script(src='assets/scripts/libs/jquery/jquery.js')
        script(src='assets/scripts/libs/jquery/jquery-ui-1.10.3.custom.js')
        script(src='assets/scripts/libs/jquery/scrollTo.js')
        script(src='assets/scripts/libs/bootstrap/bootstrap.js')
        script(src='assets/scripts/libs/underscore/underscore.js')
        script(src='assets/scripts/libs/backbone/backbone.js')
        script(src='assets/scripts/libs/fabric/all.js')
        script(src='assets/scripts/libs/colorpicker/js/colorpicker.js')
        script(src='assets/scripts/libs/colorpicker/js/eye.js')
        script(src='assets/scripts/libs/colorpicker/js/utils.js')
        script(src='assets/scripts/app.js')
      script#contextMenuTemplate(type='text/template')
        <ul class="context-menu dropdown-menu">
        <% if( menu.copy ) { %>
        <li data-cmd="copy"><a href="#">Copy</a></li>
        <% } %>
        <% if( menu.paste ) { %>
        <li data-cmd="paste"><a href="#">Paste</a></li>
        <% } %>
        <% if( menu.delete ) { %>
        <li data-cmd="delete"><a href="#">Delete</a></li>
        <% } %>
        <% if( menu.move_backward || menu.move_forward || menu.move_to_back || menu.move_to_front ) { %>
        <li class="divider"></li>
        <li data-cmd="moveObject" data-cmd-value="backwards"><a href="#">Move Back</a></li>
        <li data-cmd="moveObject" data-cmd-value="forwards"><a href="#">Move Forward</a></li>
        <li data-cmd="moveObject" data-cmd-value="toFront"><a href="#">Move to Front</a></li>
        <li data-cmd="moveObject" data-cmd-value="toBack"><a href="#">Move to Back</a></li>
        <% } %>
        <% if( menu.delete ) { %>
        <li class="divider"></li>
        <li class="dropdown-submenu"><a href="#">Switch Layer</a>
        <ul class="dropdown-menu">
        <li data-cmd="switchObjectLayer" data-cmd-value="map_layer"><a href="#"><b class="icon-picture"></b> Map Layer</a></li>
        <li data-cmd="switchObjectLayer" data-cmd-value="grid_layer"><a href="#"><b class="icon-th"></b> Grid Layer</a></li>
        <li data-cmd="switchObjectLayer" data-cmd-value="object_layer"><a href="#"><b class="icon-pushpin"></b> Object Layer</a></li>
        <li data-cmd="switchObjectLayer" data-cmd-value="gm_layer"><a href="#"><b class="icon-user"></b> GM Layer</a></li>
        </ul>
        </li>
        <% } %>
        </ul>
      script#chatMessageTemplate(type='text/template')
        <div class="message active">
        <div class="username">Ryan</div> <div class="text"><%= message %></div>
        </div>
    // END: Main wrapper
