!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // SEO Validation Tags
    meta(name='msvalidate.01', content='TODO: Fill me in!')
    meta(name='google-site-verification', content='TODO: Fill me in!')
    title Driftwood 0.0.1
    // Application styles
    link(rel='stylesheet', href='/css/libs/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/css/libs/font-awesome/font-awesome.css')
    link(rel='stylesheet', href='/scripts/libs/colorpicker/css/colorpicker.css')
    link(rel='stylesheet', href='/css/main.css')
    // Site Web Fonts
  body
    // BEGIN: Main wrapper
    #Main.change-pass-page
      // BEGIN: header
      header.header
      // END: header
      // BEGIN: Main container
      section.main(role='main')
        form.change-password(id='changePassForm', action='/changePassword', method='post')
          input(type='hidden', name='_csrf', value='#{session._csrf}')    
          img(id="logo", src='/images/driftwoodlogo.png')
          .control-group
            label.control-label(for='currentPass') Current Password
            .controls
              input#email.input-block-level(id='currPass', type='password', placeholder='', name='currentPass')
          .control-group
            label.control-label(for='newPass') New Password
            .controls
              input#email.input-block-level(id='newPass', type='password', placeholder='', name='newPass')
          .control-group
            label.control-label(for='confirmNewPass') Retype new Password
            .controls
              input#email.input-block-level(id='confirmNewPass', type='password', placeholder='', name='confirmNewPass')
          .control-group
            .controls
              input.btn.btn-primary(id='changePassSubmit', type='submit', value='Change password', name='submit')
              a(href='/') Return to Lobby
      // END: main container
      // BEGIN: footer
      footer.footer
      // END: footer
      #scripts
        script(src='/scripts/libs/jquery/jquery.js')
        script
          $(document).ready(function() { 

            var error = function(message) {
                  if($("#error").length > 0){ 
                    $("#error").fadeOut(400, function(){
                      $(this).remove();
                      $('#logo').after("<div id='error'><p style='color:red; font-weight: bold'>" + message +  "</p></div>").fadeIn(1000);   
                    });
                  } else {
                    $('#logo').after("<div id='error'><p style='color:red; font-weight: bold'>" + message +  "</p></div>").fadeIn(1000);   
                  }
            };

            $("#changePassForm").on("submit", function(event) {

              var form = $('#changePassForm');

              if(!$("input[name=currentPass]").val() || !$("input[name=newPass]").val() || !$("input[name=confirmNewPass]").val()) {
                error("All fields are Required");
                return false;
              }
            
              if($("input[name=newPass]").val() !== $("input[name=confirmNewPass]").val()) {
                error("New Passwords Must Match");
                return false;
              }

              $.ajax({
                url: $(form).attr("action"),
                data: $(form).serialize(),
                type: 'POST',
                success: function(data) {
                  error(data.response);
                  $("input[name=currentPass]").val("");
                  $("input[name=newPass]").val("");
                  $("input[name=confirmNewPass]").val("")
                },
                error: function( jqXHR, textStatus, errorThrown ) {
                  var response = $.parseJSON(jqXHR.responseText);  
                  error(response.err.message);
                }
              });

              return false;
            });
          });
    // END: Main wrapper
