!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // SEO Validation Tags
    meta(name='msvalidate.01', content='TODO: Fill me in!')
    meta(name='google-site-verification', content='TODO: Fill me in!')
    title Driftwood 0.0.1
    // Application styles
    link(rel='stylesheet', href='/css/libs/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/css/libs/font-awesome/font-awesome.css')
    link(rel='stylesheet', href='/scripts/libs/colorpicker/css/colorpicker.css')
    link(rel='stylesheet', href='/css/main.css')
    // Site Web Fonts
  body
    // BEGIN: Main wrapper
    #Main.login-page
      // BEGIN: header
      header.header
      // END: header
      // BEGIN: Main container
      section.main(role='main')
        form.login(id='loginform', action='/login', method='post')
          input(type='hidden', name='_csrf', value='#{session._csrf}')    
          img(id="logo", src='/images/driftwoodlogo.png')
          .control-group
            label.control-label(for='username') Username
            .controls
              input#username.input-block-level(type='text', name='loginUsername',tabindex='1')
          .control-group
            label.control-label(for='password')
              | Password
              small.pull-right.muted
                a(href='/resetPassword', tabindex='5') Forgot Password?
            .controls
              input#password.input-block-level(type='password', name='loginPassword',tabindex='2')
          .control-group
            .controls
              input.btn.btn-primary(type='submit', value='Sign in',tabindex='3')
              a(href='/createTerms',tabindex='4') Not registered?
          a(href='/terms', target="_blank", tabindex='6') Terms of Service, Privacy Policy & Contact
      // END: main container
      // BEGIN: footer
      footer.footer
      // END: footer
      #scripts
        script(src='/scripts/libs/jquery/jquery.js')
        script
          $(document).ready(function() { 

            var error = function(message) {
                  if($("#error").length > 0){ 
                    $("#error").fadeOut(400, function(){
                      $(this).remove();
                      $('#logo').after("<div id='error'><p style='color:red; font-weight: bold'>" + message +  "</p></div>").fadeIn(1000);   
                    });
                  } else {
                    $('#logo').after("<div id='error'><p style='color:red; font-weight: bold'>" + message +  "</p></div>").fadeIn(1000);   
                  }
            };

            $("#loginform").on("submit", function(event) {

              var form = $('#loginform');

              if(!$("input[name=loginUsername]").val() || !$("input[name=loginPassword]").val()) {
                error("All Fields Required");
                return false;
              }

              $.ajax({
                url: $(form).attr("action"),
                data: $(form).serialize(),
                type: 'POST',
                success: function(data) {
                  window.location = "/";
                },
                error: function( jqXHR, textStatus, errorThrown ) {
                  var response = $.parseJSON(jqXHR.responseText);  
                  error(response.err.message);
                }
              });

              return false;
            });
          });
    // END: Main wrapper
