
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- SEO Validation Tags -->
  <meta name="msvalidate.01" content="TODO: Fill me in!" />
  <meta name="google-site-verification" content="TODO: Fill me in!" />

  <title>Driftwood 0.0.1</title>
  <!-- Application styles -->
  <link rel="stylesheet" href="assets/css/libs/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="assets/css/libs/font-awesome/font-awesome.css">
  <link rel="stylesheet" href="assets/scripts/libs/colorpicker/css/colorpicker.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <!-- Site Web Fonts -->

</head>
<body>
<!-- BEGIN: Main wrapper -->
<div id="Main">
  <!-- BEGIN: header -->
  <header class="header">
    
  </header>
  <!-- END: header -->
  <!-- BEGIN: Main container -->
  <section class='main' role='main'>
    <!-- Editor -->
    <section class="editor">
      <!-- Command Pallet -->
      <div class="commands btn-group btn-group-vertical" data-toggle="buttons-radio">
        <div class="btn-group command move-pan">
          <span class="btn menu-btn active" data-cmd="selectCanvas">
            <b class="icon-hand-up"></b> 
          </span>
        </div>
        <div class="btn-group command has-sub-menu layer-commands">
          <span class="btn menu-btn" data-cmd="switchLayer" data-cmd-value="map_layer">
            <b class="icon-picture"></b> 
          </span>
          <ul class="dropdown-menu layer-menu">
            <li data-cmd="switchLayer" data-cmd-value="map_layer"><a href="#"><b class="icon-picture"></b> Map Layer</a></li>
            <li data-cmd="switchLayer" data-cmd-value="object_layer"><a href="#"><b class="icon-pushpin"></b> Object Layer</a></li>
            <li data-cmd="switchLayer" data-cmd-value="gm_layer"><a href="#"><b class="icon-user"></b> GM Layer</a></li>
          </ul>
        </div>
        <div class="btn-group has-sub-menu command">
          <span class="btn menu-btn" data-cmd="draw" data-cmd-value="free">
            <b class="icon-pencil"></b> 
          </span>
          <ul class="dropdown-menu">
            <li data-cmd="draw" data-cmd-value="free"><a href="#"><b class="icon-pencil"></b> Free Draw</a></li>
            <li data-cmd="draw" data-cmd-value="rectangle"><a href="#"><b class="icon-sign-blank"></b> Rectangle</a></li>
            <li data-cmd="draw" data-cmd-value="circle"><a href="#"><b class="icon-circle"></b> Circle</a></li>
          </ul>
        </div>
        <div class="btn-group has-sub-menu command">
          <span class="btn menu-btn" data-cmd="zoomIn">
            <b class="icon-zoom-in"></b> 
          </span>
          <ul class="dropdown-menu">
            <li data-cmd="zoomIn"><a href="#"><b class="icon-zoom-in"></b> Zoom In</a></li>
            <li data-cmd="zoomOut"><a href="#"><b class="icon-zoom-out"></b> Zoom Out</a></li>
          </ul>
        </div>
      </div>
      <div class="grid-label">
        <span class="size-label"></span> = <span class="unit-label"></span>
      </div>
      <!-- Canvas -->
      <div class="canvas-wrapper">
        <canvas id="c"></canvas>
        <!-- <canvas id="over"></canvas> -->
        <!--<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <pattern id="grid" width="80" height="80" patternUnits="userSpaceOnUse">
              <path d="M 80 0 L 0 0 0 80" class="grid-path" fill="none" stroke="gray" stroke-width="1"/>
            </pattern>
          </defs>
          <rect width="100%" height="100%" fill="url(#grid)" />
        </svg>-->
        <div class="overlay"></div>
      </div>
    </section>
    <!-- Side Panel -->
    <aside class="panel">
      <div class="nav">
        <ol class="unstyled inline" data-tabs="tabs" data-tab-panels=".chat,.objects,.settings">
          <li data-toggle="tab" data-target=".chat"><b class="icon-comment"></b>Chat</li>
          <li data-toggle="tab" data-target=".objects"><b class="icon-pushpin"></b>Objects</li>
          <li data-toggle="tab" data-target=".settings"><b class="icon-cog"></b>Settings</li>
        </ol>
      </div>
      <!-- Chat -->
      <div class="chat" id="chat">
        <div class="content">
          <div class="message-wrapper">
            <div class="messages" data-spy="scroll">
              <div class="message">
                <div class="username">Ryan</div><div class="text">This is a message.</div>
              </div>
              <div class="message">
                <div class="username">Ryan</div><div class="text">This is a message.</div>
              </div>
              <div class="message">
                <div class="username">Ryan</div><div class="text">This is a message.</div>
              </div>
              <div class="message">
                <div class="username">Ryan</div><div class="text">This is a message.</div>
              </div>
              <div class="message">
                <div class="username">Ryan</div><div class="text">This is a message.</div>
              </div>
              <div class="message">
                <div class="username">Ryan</div><div class="text">This is a message.</div>
              </div>
              <div class="message">
                <div class="username">Ryan</div><div class="text">This is a message.</div>
              </div>
              <div class="message">
                <div class="username">Ryan</div><div class="text">This is a message.</div>
              </div>
              <div class="message">
                <div class="username">Ryan</div><div class="text">This is a message.</div>
              </div>
              <div class="message">
                <div class="username">Ryan</div> <div class="text">This is a message. <br/> <br/> <br /> asdfasdfafds fasd fasdf ads fasdf </div>
              </div>
              <div class="message">
                <div class="username">Ryan</div><div class="text">This is a message.</div>
              </div>
              <div class="message">
                <div class="username">Ryan</div><div class="text">This is a message.</div>
              </div>
              <div class="message">
                <div class="username">Ryan</div><div class="text">This is a message.</div>
              </div>
              <div class="message">
                <div class="username">Ryan</div><div class="text">This is a message.</div>
              </div>
            </div>
          </div>
          <div class="input">
            <div class="textarea">
              <textarea class="input-block-level" rows="1" data-activate="elastic" data-on="load" placeholder="Chat away..."></textarea>
            </div>
          </div>
        </div>
      </div>
      <!-- Objects -->
      <div class="objects" id="objects">
        <div class="content">
          <div class="tr tr-flow">
            <div class="search">
              <div>
                <input type="text" id="search-object" class="input-block-level input" placeholder="Search..." data-activate="focus" data-on="focusin,focusout" data-target=".objects .search"/>
                <b class="icon-remove-sign clear" data-clear="#search-object"></b>
              </div>
              <label for="search-object"><b class="icon-search"></b></label>
              
              <div class="target">
                <div class="dropdown">
                  <div class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="text">All</span> <b class="icon-caret-down"></b></div>
                  <!-- Link or button to toggle dropdown -->
                  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                    <li><a tabindex="-1" href="#" data-activate="replace" data-target=".search .text" data-on="click">All</a></li>
                    <li><a tabindex="-1" href="#" data-activate="replace" data-target=".search .text" data-on="click">My Library</a></li>
                    <li><a tabindex="-1" href="#" data-activate="replace" data-target=".search .text" data-on="click">Token</a></li>
                    <li><a tabindex="-1" href="#" data-activate="replace" data-target=".search .text" data-on="click">Map</a></li>
                    <li><a tabindex="-1" href="#" data-activate="replace" data-target=".search .text" data-on="click">Item</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="tr object-list">
            <ol class="unstyled">
              <li class="object">
                <p class="tmp"><input type="text" class="input-block-level" placeholder="http://" /></p>
              </li>
              <li class="object" data-url="assets/images/tmp/goblin.png" data-type="token">
                <div class="preview"><img src="assets/images/tmp/goblin.png"/></div>
                <p class="name">Goblin</p>
                <p class="muted">Token</p>
                <div class="dropdown menu">
                  <div class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <b class="icon-caret-down"></b>
                  </div>
                  <!-- Link or button to toggle dropdown -->
                  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                    <li><a tabindex="-1" href="#">Delete</a></li>
                  </ul>
                </div>
              </li>
              <li class="object" data-url="assets/images/tmp/paladin.png" data-type="token">
                <div class="preview"><img src="assets/images/tmp/paladin.png" /></div>
                <p class="name">Paladin</p>
                <p class="muted">Token</p>
                <div class="dropdown menu">
                  <div class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <b class="icon-caret-down"></b>
                  </div>
                  <!-- Link or button to toggle dropdown -->
                  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                    <li><a tabindex="-1" href="#">Delete</a></li>
                  </ul>
                </div>
              </li>
              <li class="object" data-url="assets/images/tmp/fighter.png" data-type="token">
                <div class="preview"><img src="assets/images/tmp/fighter.png" /></div>
                <p class="name">Warrior</p>
                <p class="muted">Token</p>
                <div class="dropdown menu">
                  <div class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <b class="icon-caret-down"></b>
                  </div>
                  <!-- Link or button to toggle dropdown -->
                  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                    <li><a tabindex="-1" href="#">Delete</a></li>
                  </ul>
                </div>
              </li>
              <li class="object" data-url="assets/images/tmp/map.jpg" data-type="map">
                <div class="preview"><img src="assets/images/tmp/map.jpg" /></div>
                <p class="name">Map of Taul</p>
                <p class="muted">Map</p>
                <div class="dropdown menu">
                  <div class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <b class="icon-caret-down"></b>
                  </div>
                  <!-- Link or button to toggle dropdown -->
                  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                    <li><a tabindex="-1" href="#">Delete</a></li>
                  </ul>
                </div>
              </li>
              <li class="object" data-url="assets/images/tmp/mage.png" data-type="token">
                <div class="preview"><img src="assets/images/tmp/mage.png" /></div>
                <p class="name">Mage</p>
                <p class="muted">Token</p>
                <div class="dropdown menu">
                  <div class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <b class="icon-caret-down"></b>
                  </div>
                  <!-- Link or button to toggle dropdown -->
                  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                    <li><a tabindex="-1" href="#">Delete</a></li>
                  </ul>
                </div>
              </li>
              <li class="object" data-url="assets/images/tmp/treasureChest.png" data-type="item">
                <div class="preview"><img src="assets/images/tmp/treasureChest.png" /></div>
                <p class="name">Treasure Chest</p>
                <p class="muted">Item</p>
                <div class="dropdown menu">
                  <div class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <b class="icon-caret-down"></b>
                  </div>
                  <!-- Link or button to toggle dropdown -->
                  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                    <li><a tabindex="-1" href="#">Delete</a></li>
                  </ul>
                </div>
              </li>
            </ol>
          </div>
          <div class="tr">
            <div class="upload">
              <div class="btn-group">
                <button class="btn btn-primary upload-type">Upload Token</button>
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-left">
                  <li><a tabindex="-1" href="#" data-activate="replace" data-target=".upload-type" value="Upload Token" data-on="click">Token</a></li>
                  <li><a tabindex="-1" href="#" data-activate="replace" data-target=".upload-type" value="Upload Map" data-on="click">Map</a></li>
                  <li><a tabindex="-1" href="#" data-activate="replace" data-target=".upload-type" value="Upload Item" data-on="click">Item</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Settings -->
      <div class="settings">
        <div class="content">
          <div class="tr">
            <div class="control-pane form-horizontal">
              <h2>Editor</h2>
              <div class="control-group">
                <label class="control-label">Background Color:</label>
                <div class="controls">
                  <input class="span1 editor-color" type="color">
                </div>
              </div>
              <h2>Grid Settings</h2>
               <div class="control-group">
                <div class="controls">
                  <div class="btn-group" data-toggle="buttons-radio">
                    <button type="button" class="btn grid-on btn-primary active">On</button>
                    <button type="button" class="btn grid-off btn-primary">Off</button>
                  </div>
                </div>
              </div>
              <div class="grid-settings">
                <div class="control-group">
                  <label class="control-label">Grid Color:</label>
                  <div class="controls">
                    <input class="span1 grid-color" type="color">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Grid Size:</label>
                  <div class="controls">
                    <input class="span1 grid-size" type="number" value="">px = <input class="span1 grid-unit" type="text" placeholder="5 ft" value="5 ft">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tr">
            <div class="actions">
              <input type="button" class="save-settings btn btn-success input-block-level" value="Save">
              <input type="button" class="btn input-block-level" value="Cancel">
            </div>
          </div>
        </div>
      </div>
    </aside>
  </section>
  <!--END: main container-->
  <!-- BEGIN: footer -->
  <footer class="footer">
    
  </footer>
  <!-- END: footer -->
  <div id="scripts">
    <script src="assets/scripts/libs/jquery/jquery.js"></script>
    <script src="assets/scripts/libs/jquery/jquery-ui-1.10.3.custom.js"></script>
    <script src="assets/scripts/libs/jquery/scrollTo.js"></script>
    <script src="assets/scripts/libs/bootstrap/bootstrap.js"></script>
    <script src="assets/scripts/libs/underscore/underscore.js"></script>
    <script src="assets/scripts/libs/backbone/backbone.js"></script>
    <script src="assets/scripts/libs/fabric/all.js"></script>
    <script src="assets/scripts/libs/colorpicker/js/colorpicker.js"></script>
    <script src="assets/scripts/libs/colorpicker/js/eye.js"></script>
    <script src="assets/scripts/libs/colorpicker/js/utils.js"></script>
    <script src="assets/scripts/app.js"></script>
  </div>
  <script type="text/template" id="contextMenuTemplate">
  <ul class="context-menu dropdown-menu">
    <% if( menu.copy ) { %>
    <li data-cmd="copy"><a href="#">Copy</a></li>
    <% } %>
    <% if( menu.cut ) { %>
    <li data-cmd="cut"><a href="#">Cut</a></li>
    <% } %>
    <% if( menu.paste ) { %>
    <li data-cmd="paste"><a href="#">Paste</a></li>
    <% } %>
    <% if( menu.delete ) { %>
    <li data-cmd="delete"><a href="#">Delete</a></li>
    <% } %>
    <% if( menu.lock ) { %>
    <li data-cmd="lock"><a href="#">Lock</a></li>
    <% } %>
    <% if( menu.unlock ) { %>
    <li data-cmd="unlock"><a href="#">Unlock</a></li>
    <% } %>
    <% if( menu.move_backward || menu.move_forward || menu.move_to_back || menu.move_to_front ) { %>
    <li class="divider"></li>
    <li data-cmd="moveObject" data-cmd-value="backwards"><a href="#">Move Back</a></li>
    <li data-cmd="moveObject" data-cmd-value="forwards"><a href="#">Move Forward</a></li>
    <li data-cmd="moveObject" data-cmd-value="toFront"><a href="#">Move to Front</a></li>
    <li data-cmd="moveObject" data-cmd-value="toBack"><a href="#">Move to Back</a></li>
    <% } %>
    <% if( menu.delete ) { %>
    <li class="divider"></li>
    <li class="dropdown-submenu"><a href="#">Switch Layer</a>
      <ul class="dropdown-menu">
        <li data-cmd="switchObjectLayer" data-cmd-value="map_layer"><a href="#"><b class="icon-picture"></b> Map Layer</a></li>
        <li data-cmd="switchObjectLayer" data-cmd-value="object_layer"><a href="#"><b class="icon-pushpin"></b> Object Layer</a></li>
        <li data-cmd="switchObjectLayer" data-cmd-value="gm_layer"><a href="#"><b class="icon-user"></b> GM Layer</a></li>
      </ul>
    </li>
    <% } %>
  </ul>
  </script>
  <script type="text/template" id="chatMessageTemplate">
  <div class="message active">
    <div class="username">Ryan</div> <div class="text"><%= message %></div>
  </div>
  </script>
  
</div>
<!-- END: Main wrapper -->
</body>
</html>
