/* line 16, ../scss/main.scss */
html, body, #Main, .main {
  height: 100%;
  color: #555; }

/* line 21, ../scss/main.scss */
body {
  overflow: hidden; }

/* line 24, ../scss/main.scss */
input[type="color"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  height: 32px;
  margin: -1px 0 0 0;
  padding: 0; }

/* line 31, ../scss/main.scss */
input[type="button"].input-block-level {
  width: 100%; }

/* line 34, ../scss/main.scss */
select {
  margin: 0; }

/* line 37, ../scss/main.scss */
.canvas-container + .canvas-container {
  position: absolute;
  top: -3000px;
  left: 0;
  pointer-events: none; }

/* line 48, ../scss/main.scss */
.main {
  display: table; }

/* line 51, ../scss/main.scss */
.login-page .main, .register-page .main, .reset-pass-page .main, .change-pass-page .main, .lobby-page .main {
  display: block;
  background: white url("../images/driftwoodimage.jpg") no-repeat top left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto; }

/* line 61, ../scss/main.scss */
.main, .editor, .panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 72, ../scss/main.scss */
.login,
.register,
.reset-password,
.change-password,
.lobby {
  position: relative;
  top: 22%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 340px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(241, 241, 245, 0.9);
  border: 1px solid #aaaacc; }
  /* line 81, ../scss/main.scss */
  .login img,
  .register img,
  .reset-password img,
  .change-password img,
  .lobby img {
    margin-bottom: 20px; }
  /* line 84, ../scss/main.scss */
  .login .control-label,
  .register .control-label,
  .reset-password .control-label,
  .change-password .control-label,
  .lobby .control-label {
    font-weight: bold; }
    /* line 86, ../scss/main.scss */
    .login .control-label a,
    .register .control-label a,
    .reset-password .control-label a,
    .change-password .control-label a,
    .lobby .control-label a {
      font-weight: inherit; }
  /* line 90, ../scss/main.scss */
  .login input[type="submit"],
  .register input[type="submit"],
  .reset-password input[type="submit"],
  .change-password input[type="submit"],
  .lobby input[type="submit"] {
    margin-right: 10px; }

/* line 94, ../scss/main.scss */
.register {
  width: 500px;
  top: 15%; }

/* line 99, ../scss/main.scss */
.lobby {
  width: 400px; }
  /* line 101, ../scss/main.scss */
  .lobby section {
    margin-top: 10px;
    margin-bottom: 20px; }
    /* line 104, ../scss/main.scss */
    .lobby section:last-child {
      margin-bottom: 0; }
  /* line 108, ../scss/main.scss */
  .lobby .logout {
    position: absolute;
    top: 10px;
    right: 20px;
    text-align: right; }

/* line 116, ../scss/main.scss */
.games {
  max-height: 300px;
  overflow: auto; }
  /* line 119, ../scss/main.scss */
  .games li {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    position: relative;
    padding: 10px;
    background-color: #FFF;
    margin-bottom: 8px; }

/* line 132, ../scss/main.scss */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
  z-index: 5;
  text-align: center; }
  /* line 141, ../scss/main.scss */
  .loading-screen h1 {
    margin-top: 20%; }
  /* line 144, ../scss/main.scss */
  .loading-screen .loading-message {
    margin-top: 20px; }

/* line 152, ../scss/main.scss */
.btn-group > .btn-group > .btn.menu-btn {
  margin-left: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

/* line 156, ../scss/main.scss */
.btn-group > .btn-group + .btn-group {
  margin-left: 0;
  display: block; }

/* line 160, ../scss/main.scss */
.btn-group > .btn-group:not(:last-child) > .btn.menu-btn {
  border-bottom: 0; }

/* line 163, ../scss/main.scss */
.btn-group > .btn-group:last-child > .btn.menu-btn {
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px; }

/* line 167, ../scss/main.scss */
.btn-group > .btn-group:first-child > .btn.menu-btn {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px; }

/* line 177, ../scss/main.scss */
.form-horizontal .control-label {
  text-align: left;
  width: auto;
  margin-right: 10px; }
/* line 182, ../scss/main.scss */
.form-horizontal .controls {
  margin-left: 0; }

/* line 191, ../scss/main.scss */
.file-upload {
  position: relative;
  overflow: hidden; }
  /* line 194, ../scss/main.scss */
  .file-upload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    opacity: 0;
    cursor: pointer; }

/* line 214, ../scss/main.scss */
.canvas-container {
  margin: 100px;
  padding-right: 100px; }

/* line 218, ../scss/main.scss */
.editor {
  position: relative;
  display: table-cell;
  border-spacing: 0;
  vertical-align: top;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: transparent url("../images/mooning.png"); }
  /* line 227, ../scss/main.scss */
  .editor .canvas-wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: auto; }
    /* line 234, ../scss/main.scss */
    .editor .canvas-wrapper .overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
      /* line 240, ../scss/main.scss */
      .editor .canvas-wrapper .overlay.zoom-in {
        cursor: url("../images/zoomIn.png"), auto; }
      /* line 243, ../scss/main.scss */
      .editor .canvas-wrapper .overlay.zoom-out {
        cursor: url("../images/zoomOut.png"), auto; }
  /* line 248, ../scss/main.scss */
  .editor .commands {
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 30px; }
    /* line 253, ../scss/main.scss */
    .editor .commands .btn-group {
      position: relative; }
      /* line 254, ../scss/main.scss */
      .editor .commands .btn-group > .btn {
        width: 15px; }
      /* line 258, ../scss/main.scss */
      .editor .commands .btn-group.has-sub-menu:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 0 7px 7px;
        border-color: transparent transparent #666 transparent;
        z-index: 400; }
    /* line 271, ../scss/main.scss */
    .editor .commands .dropdown-menu {
      top: 0;
      left: 100%; }
  /* line 276, ../scss/main.scss */
  .editor .sub-menu {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 80px;
    background-color: white;
    padding: 5px;
    display: none; }
    /* line 286, ../scss/main.scss */
    .editor .sub-menu > p {
      float: left;
      margin: 0px 3px; }
    /* line 290, ../scss/main.scss */
    .editor .sub-menu[data-type="free"] .fill {
      display: none; }
    /* line 293, ../scss/main.scss */
    .editor .sub-menu.open {
      display: block;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
  /* line 298, ../scss/main.scss */
  .editor .grid-label {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
    right: 35px;
    bottom: 35px;
    padding: 10px;
    background-color: white;
    cursor: default; }
    /* line 310, ../scss/main.scss */
    .editor .grid-label:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }

/* line 321, ../scss/main.scss */
.nav, .chat, .message-wrapper, .input, .objects, .settings, .tr {
  display: table-row;
  border-collapse: collapse;
  width: 100%;
  height: 100%; }

/* line 327, ../scss/main.scss */
.panel, .content {
  display: table;
  width: 100%;
  height: 100%; }

/* line 332, ../scss/main.scss */
.content {
  max-height: 100%; }

/* line 335, ../scss/main.scss */
.tr-flow {
  height: auto; }

/* line 338, ../scss/main.scss */
.clear {
  cursor: pointer; }

/* line 341, ../scss/main.scss */
.panel {
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  width: 340px;
  float: right;
  z-index: 1; }
  /* line 348, ../scss/main.scss */
  .panel .nav {
    height: auto; }
    /* line 350, ../scss/main.scss */
    .panel .nav ol {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 0;
      padding: 10px;
      background-color: #eaeaea;
      border-bottom: 1px solid #cccccc; }
      /* line 356, ../scss/main.scss */
      .panel .nav ol li {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5px 10px;
        cursor: pointer;
        text-align: center;
        width: 32%; }
        /* line 362, ../scss/main.scss */
        .panel .nav ol li b {
          margin-right: 4px; }
  /* line 369, ../scss/main.scss */
  .panel .chat {
    background-color: #eaeaea; }
    /* line 371, ../scss/main.scss */
    .panel .chat .messages {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden; }
    /* line 376, ../scss/main.scss */
    .panel .chat .message {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      overflow: hidden;
      *zoom: 1;
      -webkit-transition: left 0.3s ease;
      -moz-transition: left 0.3s ease;
      -o-transition: left 0.3s ease;
      transition: left 0.3s ease;
      position: relative;
      background-color: #FFF;
      margin: 10px;
      padding: 10px;
      left: 0;
      word-wrap: break-word;
      word-break: break-word;
      max-width: 100%; }
      /* line 390, ../scss/main.scss */
      .panel .chat .message.active {
        left: -120%; }
      /* line 393, ../scss/main.scss */
      .panel .chat .message .username, .panel .chat .message .text {
        display: inline-block; }
      /* line 396, ../scss/main.scss */
      .panel .chat .message .username {
        float: left;
        font-weight: bold;
        margin-right: 4px; }
        /* line 400, ../scss/main.scss */
        .panel .chat .message .username:after {
          content: ":"; }
    /* line 405, ../scss/main.scss */
    .panel .chat .input {
      background-color: #FFF;
      border-top: 1px solid #cccccc; }
      /* line 408, ../scss/main.scss */
      .panel .chat .input .textarea {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        width: 100%; }
        /* line 412, ../scss/main.scss */
        .panel .chat .input .textarea textarea {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          margin-bottom: 0;
          max-height: 85px;
          border: none;
          resize: none; }
  /* line 425, ../scss/main.scss */
  .panel .objects {
    display: none; }
    /* line 427, ../scss/main.scss */
    .panel .objects .object-wrapper {
      height: 100%;
      max-height: 100%;
      overflow: auto; }
    /* line 432, ../scss/main.scss */
    .panel .objects .search {
      -webkit-transition: padding 0.3s ease;
      -moz-transition: padding 0.3s ease;
      -o-transition: padding 0.3s ease;
      transition: padding 0.3s ease;
      position: relative;
      padding: 5px 10px 5px 35px;
      border-bottom: 1px solid #cccccc; }
      /* line 437, ../scss/main.scss */
      .panel .objects .search.focus {
        padding-left: 10px; }
        /* line 439, ../scss/main.scss */
        .panel .objects .search.focus label {
          left: -18px; }
        /* line 442, ../scss/main.scss */
        .panel .objects .search.focus .target {
          right: -50%; }
        /* line 445, ../scss/main.scss */
        .panel .objects .search.focus .clear {
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
          opacity: 1;
          -webkit-transition: opacity 0.3s ease;
          -webkit-transition-delay: 0.3s;
          -moz-transition: opacity 0.3s ease 0.3s;
          -o-transition: opacity 0.3s ease 0.3s;
          transition: opacity 0.3s ease 0.3s; }
      /* line 450, ../scss/main.scss */
      .panel .objects .search .input {
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin-bottom: 0; }
      /* line 455, ../scss/main.scss */
      .panel .objects .search label {
        -webkit-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        transition: left 0.3s ease;
        position: absolute;
        top: 9px;
        left: 12px;
        font-size: 17px; }
      /* line 462, ../scss/main.scss */
      .panel .objects .search .clear {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        -webkit-transition: opacity 0.2s ease;
        -webkit-transition-delay: 0s;
        -moz-transition: opacity 0.2s ease 0s;
        -o-transition: opacity 0.2s ease 0s;
        transition: opacity 0.2s ease 0s;
        position: absolute;
        right: 10px;
        top: 0;
        line-height: 40px;
        cursor: pointer; }
      /* line 471, ../scss/main.scss */
      .panel .objects .search .target {
        -webkit-transition: right 0.3s ease;
        -moz-transition: right 0.3s ease;
        -o-transition: right 0.3s ease;
        transition: right 0.3s ease;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding: 10px; }
        /* line 478, ../scss/main.scss */
        .panel .objects .search .target .dropdown-toggle {
          cursor: pointer; }
    /* line 484, ../scss/main.scss */
    .panel .objects .object-list ol {
      margin-bottom: 0; }
    /* line 489, ../scss/main.scss */
    .panel .objects .upload {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      overflow: hidden;
      *zoom: 1;
      padding: 10px;
      border-top: 1px solid #cccccc;
      width: 100%;
      line-height: 28px;
      overflow: visible; }
      /* line 497, ../scss/main.scss */
      .panel .objects .upload .select-file {
        -webkit-transition: margin-top 0.3s ease;
        -moz-transition: margin-top 0.3s ease;
        -o-transition: margin-top 0.3s ease;
        transition: margin-top 0.3s ease; }
        /* line 499, ../scss/main.scss */
        .panel .objects .upload .select-file.selected {
          display: none; }
          /* line 501, ../scss/main.scss */
          .panel .objects .upload .select-file.selected ~ div {
            display: block; }
      /* line 506, ../scss/main.scss */
      .panel .objects .upload .file-selected {
        display: none; }
      /* line 509, ../scss/main.scss */
      .panel .objects .upload .filename {
        white-space: pre;
        white-space: pre-wrap;
        white-space: pre-line;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -hp-pre-wrap;
        word-wrap: break-word; }
      /* line 512, ../scss/main.scss */
      .panel .objects .upload .dropdown-toggle {
        cursor: pointer; }
      /* line 515, ../scss/main.scss */
      .panel .objects .upload .dropdown-menu {
        bottom: 100%;
        top: auto; }
  /* line 521, ../scss/main.scss */
  .panel .settings {
    display: none; }
    /* line 523, ../scss/main.scss */
    .panel .settings .control-pane {
      padding: 10px; }
    /* line 526, ../scss/main.scss */
    .panel .settings .actions {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 15px 10px;
      background-color: #eaeaea;
      border-top: 1px solid #cccccc; }
      /* line 531, ../scss/main.scss */
      .panel .settings .actions .btn {
        width: 49%; }
        /* line 533, ../scss/main.scss */
        .panel .settings .actions .btn.btn-primary {
          width: 50%; }

/* line 540, ../scss/main.scss */
.object {
  overflow: hidden;
  *zoom: 1;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  list-style: none;
  position: relative;
  padding: 10px;
  cursor: move;
  background-color: #FFF;
  border-bottom: 1px solid #cccccc;
  overflow: visible; }
  /* line 550, ../scss/main.scss */
  .object .preview {
    height: 50px;
    width: 50px;
    float: left;
    border: 1px solid #cccccc;
    margin-right: 10px;
    text-align: center; }
    /* line 557, ../scss/main.scss */
    .object .preview img {
      max-height: 100%; }
  /* line 561, ../scss/main.scss */
  .object p {
    margin-bottom: 5px; }
  /* line 564, ../scss/main.scss */
  .object:hover {
    background-color: #f7f7f7; }
    /* line 566, ../scss/main.scss */
    .object:hover .menu {
      display: block; }
  /* line 570, ../scss/main.scss */
  .object .menu {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: auto;
    display: none; }
    /* line 576, ../scss/main.scss */
    .object .menu .dropdown-toggle {
      cursor: pointer;
      color: #cccccc; }
      /* line 579, ../scss/main.scss */
      .object .menu .dropdown-toggle:hover {
        color: inherit; }
  /* line 584, ../scss/main.scss */
  .object .tmp {
    clear: both;
    margin: 15px 0 0 0; }
  /* line 588, ../scss/main.scss */
  .object.ui-draggable-dragging {
    width: 340px;
    border: 1px solid #cccccc;
    z-index: 10; }
    /* line 592, ../scss/main.scss */
    .object.ui-draggable-dragging .menu {
      display: none; }

/* line 602, ../scss/main.scss */
.context-menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0; }

@media (max-width: 767px) {
  /* line 614, ../scss/main.scss */
  body {
    padding: 0; } }
